.container {
  width: 100%;
}

.content {
  padding: 0px 40px;
}

.login-title {
  font-size: 25px;
  font-weight: bold;
}

.login-subtitle {
  display: block;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.login-input-wrap {
  // justify-content: space-between;
  input {
    width: 100%; // column 정렬
    box-sizing: border-box;
    padding: 10px;
  }
}

.btn-login {
  width: 100%;
  padding: 10px;
}

.sns-login-wrap {
  button {
    width: 100%; // column 정렬
    padding: 10px;
  }
}
