.container {
  width: 100%;
}

.content {
  width: 800px;
}

.register-title {
  font-size: 30px;
  font-weight: bolder;
}

.register-icon {
  width: 40px;
}

.register-status-element {
  div {
    display: inline-flex;
    vertical-align: middle; // 세로축 가운데 정렬

    margin-left: 20px;
  }

  .register-status-text {
    font-weight: bolder;
  }
}

.register-agree-title {
  text-align: left;
}

.register-agree-content {
  iframe {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0px 0px 10px;
  }
}

.register-btn-wrap {
  margin-top: 30px;
  button {
    width: 50%;
    height: 50px;
  }
}
