@mixin cart-head-fontstyle {
  font-size: 18px;
  font-weight: bold;
}

#cart-wrapper {
  height: 100vh;
}

.cart-title {
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.cart-container {
  display: flex;
  width: 100%;
  margin: 30px 200px 0px 150px;
  .cart-table {
    width: 60%;
    .cart-head {
      display: flex;
      padding: 10px 0px;
      border-top: solid 1.5px black;
      border-bottom: solid 1.5px #ddd;
      .cart-head-info {
        width: 33%;
        text-align: end;
        @include cart-head-fontstyle;
      }
      .cart-head-amount {
        width: 48%;
        padding-right: 13px;
        text-align: end;
        @include cart-head-fontstyle;
      }
      .cart-head-price {
        width: 23%;
        padding-left: 5px;
        text-align: center;
        @include cart-head-fontstyle;
      }
    }
  }
}