.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 56px;
  margin: 0px 5px;
  background-color: #f9f7f8;
  cursor: pointer;
}

.category-wrapper {
  margin-top: 72px;
}
