@mixin layoutborder {
  border: 1px solid darkgray;
}
@mixin mypage-ordered-head-fontstyle {
  font-size: 25px;
  font-weight: bold;
}
$boxheight: 120px;
$cart-list-font-size: 20px;

.mypage-ordered-wrapper {
  // margin-bottom: 100px;
  .mypage-ordered-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    .mypage-ordered-head-info {
      @include mypage-ordered-head-fontstyle;
      padding-left: 100px;
    }
    .mypage-ordered-head-amount {
      @include mypage-ordered-head-fontstyle;
    }
    .mypage-ordered-head-price {
      @include mypage-ordered-head-fontstyle;
      padding-right: 100px;
    }
  }
  .mypage-ordered-container {
    display: flex;
    .mypage-ordered-img-box {
      width: $boxheight;
      height: $boxheight;
      img {
        width: $boxheight;
        height: $boxheight;
      }
    }
    .mypage-ordered-product-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 25%;
      p {
        font-size: $cart-list-font-size;
      }
      span {
        font-size: 18px;
      }
    }
    .mypage-product-amount {
      width: 20%;
      padding-top: 45px;
      text-align: end;
      font-size: $cart-list-font-size;
    }
    .mypage-price-amount {
      width: 40%;
      padding-top: 45px;
      text-align: end;
      font-size: $cart-list-font-size;
    }
  }
}
