@mixin layoutborder {
  border: 1px solid darkgray;
}

@mixin mypage-user-info-fontstyle {
  font-size: 25px;
  font-weight: bold;
}
@mixin mypage-user-info-details-fontstyle {
  font-size: 20px;
  font-weight: bold;
  color: darkgray;
}
@mixin order-info-tab-fontstyle {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
@mixin order-else-tab-fontstyle {
  font-size: 30px;
  font-weight: bold;
  color: darkgray;
}

@mixin mypage-header-border {
  border-bottom: 2px solid black;
}

.mypage-wrapper {
  width: 100%;
  margin-top: 200px;
  .mypage-title {
    text-align: center;
    font-size: 40px;
  }
  .mypage-user-info-container {
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-top: 5%;

    .mypage-user-level-icon {
      font-size: 200px;
      color: rgb(18, 125, 175);
    }
    .mypage-user-info-box {
      width: 80%;
      margin-bottom: 200px;

      .mypage-user-info-box-header {
        @include mypage-header-border;
        display: flex;
        align-items: center;
        height: 30%;

        .mypage-user-info-name {
          width: 30%;
          font-size: 35px;
          font-weight: bold;
        }
        .mypage-logout {
          width: 50%;
          font-size: 25px;
          font-weight: bold;
          color: darkgray;
        }
        .mypage-user-info-myquestions-box {
          display: flex;
          justify-content: flex-end;
          width: 20%;

          .mypage-user-info-myquestions-btn {
            width: 60%;
            padding: 10px;
            text-align: center;
            @include mypage-user-info-details-fontstyle;
            background-color: black;
          }
        }
      }
      .mypage-user-info-detail-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        div {
          .mypage-user-info-detail-title {
            @include mypage-user-info-fontstyle;
            text-align: center;
          }
          .mypage-user-info-detail-content {
            @include mypage-user-info-details-fontstyle;
            text-align: center;
          }
        }
      }
      .order-info-header-container {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        padding-bottom: 50px;
        @include mypage-header-border;
        .order-info-header {
          @include order-info-tab-fontstyle;
        }
        .order-info-else {
          @include order-else-tab-fontstyle;
        }
      }
    }
  }
}
