.details-wrapper {
  padding: 70px 0px;
  background-color: #1c1c1c;
  margin-top: 17px;
}

.product-desc-product-img-wrapper {
  img {
    width: 65%;
  }
}

.product-desc-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-desc-content {
  height: 300px;
  .product-desc-product-name {
    font-size: 35px;
    font-weight: bold;
    color: white;
  }

  .product-desc-price {
    font-size: 25px;
    color: gray;
  }
}

.product-desc-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 400px;
  justify-content: space-evenly;
}

.product-desc-btn-flex {
  display: flex;
  justify-content: flex-end;
}

.product-desc-plus-btn {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  font-size: 20px;
  background-color: lightgray;
}

.product-desc-minus-btn {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  background-color: lightgray;
}

.product-desc-buy-now {
  border: 1px solid black;
  background-color: #888888;
  color: white;
  padding: 20px 60px;
  font-size: 20px;
  cursor: pointer;
}

.product-desc-to-cart {
  border: 1px solid black;
  color: white;
  background-color: #d0021b;
  color: white;
  padding: 20px 60px;
  font-size: 20px;
  cursor: pointer;
}

.product-desc-custom-order-title {
  font-size: 25px;
  color: white;
  padding: 10px 0px 0px;
}

.product-desc-custom-order {
  option {
    padding-left: 20px;
  }
}

.product-desc-amount-title {
  font-size: 25px;
  color: white;
}

.product-desc-custom-order {
  width: 350px;
  height: 50px;
  background-color: #1c1c1c;
  color: white;
  font-size: 18px;
}

.product-desc-amount {
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 20px;
  color: white;
  background-color: #1c1c1c;
  border: 1px solid gray;
  margin-right: 10px;
}

.product-desc-info {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;

  span {
    cursor: pointer;
  }
}

.product-desc-info-wrapper {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 35px 0px;
}

.product-desc-custom-order-flex {
  display: flex;
  justify-content: flex-end;
}

.product-desc-amount-flex {
  display: flex;
  justify-content: flex-end;
}

.product-desc-amount-wrapper {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.product-desc-custom-order-wrapper {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0px 10px 0px 0px;

  .product-desc-custom-order-title {
    width: 90px;
  }
}

.product-desc-amount-wrapper {
  display: flex;
  justify-content: space-between;
  width: 400px;

  .product-desc-amount-title {
    width: 90px;
  }
}

.product-desc-product-img-wrapper {
  width: 800px;
  display: flex;
  justify-content: flex-end;
}

.product-desc-amount {
  width: 410px;
  font-size: 27px;
}
