.best-item-title-wrap {
  width: 1200px;

  .best-item-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    margin-right: auto;
    margin-left: 360px;
    font-family: 'Noto Sans KR', sans-serif;
  }
}
