.modal-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 420px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
}

.overlay-style {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.close-modal {
  position: fixed;
  top: 8px;
  right: 8px;
}

.modal-product-name {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.buy-now {
  border: 1px solid black;
  background-color: gray;
  color: white;
  padding: 20px 78px;
  font-size: 15px;
  cursor: pointer;
}

.to-cart {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 20px 78px;
  font-size: 15px;
  cursor: pointer;
}

.custom-order-title {
  font-size: 20px;
}

.custom-order {
  width: 300px;
  height: 20px;
  font-size: 15px;
}

.custom-order-wrapper {
  text-align: center;
}
