.items {
  margin-right: 20px;
  padding: 0px 0px 0px 0px;
}

.item {
  margin: 50px 0px;
  width: 430px;
  height: 440px;
  background-color: #f9f7f8;
  cursor: pointer;
}

.product-img {
  margin: 60px 0px 0px 65px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.cart-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.cart-icon-wrapper {
  height: 70px;
  margin: 0px 10px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-info {
  cursor: pointer;
}

.product-name {
  font-size: 18px;
  width: 376px;
  height: 27px;
  margin: 16px 0px 0px 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

.product-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  font-size: 20px;
  border: 1px solid gray;
  margin-top: 20px;
}

.product-amount-wrapper {
  display: flex;
  justify-content: center;
}

.minus-btn {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  font-size: 20px;
  background-color: white;
}

.plus-btn {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  font-size: 20px;
  background-color: white;
}

.price {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  font-family: 'Noto Sans KR', sans-serif;
}
